<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li class=""><%= link_to "Users", users_path %></li>
  <li class="active"><%= link_to @user.name, user_path(@user) %></li>
</ol>


<p>
  <strong>Name:</strong>
  <%= @user.name %>

</p>

<p>
  <strong>Member since:</strong>
  <%= @user.created_at.to_formatted_s(:short) %>
</p>

