
<ol class="breadcrumb">
  <li class=""><%= link_to "Users", users_path %></li>
  <li class="active"><%= link_to @user.name, user_path(@user) %></li>
</ol>

<h1><%= @user.name %>'s profile</h1>

<p>
  <strong>Member since:</strong>
  <%= @user.created_at.to_formatted_s(:short) %>
</p>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
	Dictionaries this user created
      </div>
      <% if @user.dictionaries.size > 0 %>
      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Entries</th>
	  </tr>
	</thead>
	<tbody>
	  <% @user.dictionaries.each do |dictionary| %>
	  <tr>
	    <td><%= link_to dictionary.name, dictionary %></td>
	    <td><%= dictionary.entries.count %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
      <% else %>
      <div class="card-block">
	<p class="card-text">
	  This user has not yet created any dictionaries.
	</p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
	Dictionaries this user contributes to 
      </div>
      <% if @dictionaries_collaborating.size > 0 %>
      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Entries</th>
	  </tr>
	</thead>
	<tbody>
	  <% @dictionaries_collaborating.each do |dictionary| %>
	  <tr>
	    <td><%= link_to dictionary.name, dictionary %></td>
	    <td><%= dictionary.entries.count %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
      <% else %>
      <div class="card-block">
	<p class="card-text">
	  This user is not involved in any dictionary projects.
	</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
