<ol class="breadcrumb">
  <li class=""><%= link_to "Dictionaries", dictionaries_path %></li>
  <li><%= link_to @dictionary.name, @dictionary %></li>
  <li class="active"><%= link_to 'Edit Dictionary', '#' %></li>
</ol>

<h1>Editing Dictionary</h1>


<%= render 'form' %>



<div class="card">
  <div class="card-header">
    Add a new collaborator
  </div>
  <div class="card-block">
    <%= form_tag dictionary_collaborators_path(@dictionary) do %>
    <div class="form-group">
      <%= label_tag :name, nil, {class: 'control-label'} %>
      <%= text_field_tag :name, nil, {class: 'form-control'} %>
      <p class="help-block">Initially only the owner of a dictionary can create and change entries.  If you want to allow another use to modify the dictionary, enter their name into the input field and click on the button.  If a user with this name exists, they will become a <em>collaborator</em>.</p>
    </div>
    <%= submit_tag nil, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<%= link_to 'Remove', @dictionary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
