<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li class=""><%= link_to "Dictionaries", dictionaries_path %></li>
</ol>

<h1>Dictionaries</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Available Dictionaries
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>Created</th>
	<th>#entries</th>
	<th>#contributors</th>
      </tr>
    </thead>

    <tbody>
      <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= link_to dictionary.name, dictionary %></td>
	<td><%= dictionary.created_at.to_formatted_s(:short) %></td>
	<td><%= dictionary.entries.count %></td>
	<td><%= dictionary.collaborators.count + 1 %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Dictionary', new_dictionary_path, class: 'btn btn-primary' %>
