<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li class=""><%= link_to "Dictionaries", dictionaries_path %></li>
  <li class="active"><%= link_to @dictionary.name, @dictionary %></li>
</ol>

<h1><%= @dictionary.name %></h1>


<div class="panel panel-default">
  <div class="panel-heading">
    Entries
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Lemma</th>
	<th>Article</th>
      </tr>
    </thead>
    <tbody>
      <% @dictionary.entries.each do |entry| %>
      <tr>
	<td><%= entry.lemmas.first.text %></td>
	<td><%= link_to article_for_display(entry.content), entry %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to 'New Entry', new_dictionary_entry_path(@dictionary), class: 'btn btn-primary' %>

<%= link_to 'Edit', edit_dictionary_path(@dictionary), class: 'btn btn-default' %>

<%= link_to 'Export to Babylon', dictionary_path(@dictionary, format: :babylon), class: 'btn btn-default' %>

<%= link_to 'Export to XDXF', dictionary_path(@dictionary, format: :xdxf), class: 'btn btn-default' %>
