<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li class=""><%= link_to "Dictionaries", dictionaries_path %></li>
  <li class="active"><%= link_to @dictionary.name, @dictionary %></li>
</ol>

<h1><%= @dictionary.name %></h1>

     
  

<div class="row">

  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Lemma</th>
	  <th>Article</th>
	</tr>
      </thead>
      <tbody>
	<% @dictionary.entries.each do |entry| %>
	<tr>
	  <td><%= entry.lemmas.first.text %></td>
	  <td><%= link_to article_for_display(entry.content), entry %></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <p><strong>Creator:</strong> <%= link_to @dictionary.user.name, @dictionary.user %></p>
    <p>
      <strong>Contributors:</strong>
      <%= @dictionary.users.map { |user| link_to user.name, user }.join(', ').html_safe %>
    </p>
    <p>
      <strong>Created:</strong>
      <%= @dictionary.created_at.to_formatted_s(:short) %>
    </p>


    <div class="btn-group-vertical btn-block" role="group">
      <% if current_user.can_create_entries(@dictionary) %>
      <%= link_to 'New Entry', new_dictionary_entry_path(@dictionary), class: 'btn btn-primary' %>
      <% end %>

      <% if @dictionary.user == current_user %>
      <%= link_to 'Edit', edit_dictionary_path(@dictionary), class: 'btn btn-primary' %>
      <% end %>

      <%= link_to 'Export to Babylon', dictionary_path(@dictionary, format: :babylon), class: 'btn btn-secondary' %>

      <%= link_to 'Export to XDXF', dictionary_path(@dictionary, format: :xdxf), class: 'btn btn-secondary' %>

    </div>
  </div>

</div>

